PORT=4000
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/?appName=MyApp
JWT_SECRET=your_strong_random_jwt_secret_here
JWT_EXPIRY=7d
COOKIE_EXPIRY=604800000
FRONTEND_URL=https://your-frontend.onrender.com
UPLOAD_SECURITY_PIN=1234
NODE_ENV=production

